<ul class="nav">
    <li class="nav-link">
        <a href="{{ url_for('core.index') }}">Home</a>
    </li>
    <li class="nav-link">
        <a href="{{ url_for('core.info') }}">Info</a>
    </li>

    <li class="nav-link">
        <a href="#">About</a>
    </li>

    <li class="nav-link">
            <a href="{{ url_for('question.index') }}">Question</a>
        </li>

    {% if current_user.is_authenticated %}
        <li class="nav-link">
            <a href="{{ url_for('users.logout') }}">Log out</a>
        </li>

        <li class="nav-link">
            <a href="{{ url_for('users.account') }}">Account</a>
        </li>

        <li class="nav-link">
            <a href="{{ url_for('blog_posts.create_post') }}">Create Post</a>
        </li>
    {% else %}

        <li class="nav-link">
            <a href="{{ url_for('users.login') }}">Log in</a>
        </li>

        <li class="nav-link">
            <a href="{{ url_for('users.register') }}">Register</a>
        </li>
    {% endif %}
</ul>